/* ---------------------------------------------- */
/*  art67.css                                     */
/*    2025.11.19 created based on art60.css       */
/* ---------------------------------------------- */
body{
  font-family:"Lucida Grande",Arial,sans-serif;
  font-size:15px;
  text-align:left;
  margin: 0 auto;
  padding:0;
  line-height:1.4;
  max-width:1000px;            /* 今回から1000pxで! (従来は1200px) */
}
h1{
  font-size:24px;
  margin-top:15px;
  margin-bottom:15px;
}
h1.width-subtitle{
  margin-bottom:5px;
}
.date_suf2{
  padding-left:20px;
  font-size:14px;
  font-weight:normal;
  color:gray;
}
h2.subtitle{
  font-size:18px;
  font-weight:bold;
  margin:5px 10px 15px 0px;
}
h3{
  font-size:17px;
  font-weight:bold;
  width:fit-content;
  padding-right:1em;
  margin:20px 10px 15px 0px;
  border-bottom: solid 2px gray;
}
h4{
  font-size:16px;
  font-weight:bold;
  width:fit-content;
  padding-right:1em;
  margin:17px 10px 10px 0px;
  /* border-bottom: dotted 1px #ff722c; */
  border-bottom: dotted 1px gray;
}
p{
  margin:12px 0px 12px 0px;
  padding:0;
}
div{
  margin:0;
  padding:0;
}
#bdy{
  margin:4px 12px 12px 16px;
}
section.chapter{
  margin-top:30px;
}
section.section{
}
section.footer{
  ;
}
section.footer{
  margin-top:12px;
  margin-bottom:5px;
  padding:2px;
}
.graph-container {
  display: flex;
  flex-wrap: wrap;
}
.grp-double{
  width: 460px;
  height: auto;
}
.wrap-grp{
  position: relative;
}
.wrap-grp p{
  position: absolute;
  top:  -3px;
  left: 130px;
  font-size: 15px;
}
.wrap-grp p.wpn2{
  position: absolute;
  top:  -7px;
  left: 75px;
  font-size: 15px;
}

/* 装飾 */
.nrm{ font-weight:normal; }             /* 標準太さのフォント */
.keyword1{ font-weight:bold; color:#000080; }
.bold{  font-weight:bold; }          /* article40,45 で追加 */
.sup5{                           /* 脚注へのリンクで使用 */
  font-size: 80%;
}
/* ----- 以下は 2025.11 追加 -------- */
table.art67-table{
  border-collapse: collapse;
  font-size:15px;
  margin-top:20px;
  margin-left:20px;
}
table.art67-table caption{
  white-space:nowrap;
  font-weight:normal;
  text-align:left;
}
table.art67-table th,table.art67-table td{
  white-space:nowrap;
  border:1px solid gray;
  text-align:center;
  padding:2px 6px;
}
table.art67-table  th{
  background-color:#eaece6;
  font-weight:normal;
} 
/* ---------------- */
dl.art67-dl{
   ;
}
dl.art67-dl dt{
  margin-top:7px;
} 
/*  --------------- */
.smlftB{ font-size:86%; }             /* 小さいフォント */
.inblock-keyword{
  display: inline-block;
  font-weight:bold;
  font-size:105%;
  border:1px solid red;
  padding:3px 10px;
}
.nwrap{
  white-space:nowrap;
}
.zudlg1{  /* art61.cssより */
  text-decoration: solid underline 1px green;
  text-underline-offset: 0.2em; /* 線の位置。テキストに重ならないよう、やや下部にする */
} 
.zudlr1{  /* art61.cssより */
  text-decoration: solid underline 1px red;
  text-underline-offset: 0.2em; /* 線の位置。テキストに重ならないよう、やや下部にする */
} 
.markerY { /* bank_type1.cssより == art61.css の.hlighty */
  text-decoration: underline; /* 下線 */
  text-decoration-thickness: 0.5em; /* 線の太さ */
  text-decoration-color: rgba(255, 228, 0, 0.5); /* 線の色 */
  text-underline-offset: -0.2em; /* 線の位置。テキストに重なるようにやや上部にする */
  text-decoration-skip-ink: none; /* 下線と文字列が重なる部分でも下線が省略されない（線が途切れない） */
}

